## 2nd assignment
Please submit your Python code and output in the following format:
Zone_id label (not coordinates), 1st nearest neighbor zone label (not coordinates) : distance (in miles), … , 6th nearest neighbor zone label (not coordinates) : distance (in miles).

In [2]:
import pandas as pd
import numpy as np

In [144]:
#coor_df = pd.read_table('./coordinates.txt',sep=' ',header=0, names=['zone09','Latitude','Longitude'])
coor_df = pd.read_table('./coordinates.txt')
print(coor_df.shape, coor_df.columns)

(1944, 1) Index(['zone09  Latitude        Longitude'], dtype='object')

In [145]:
new = coor_df["zone09  Latitude        Longitude"].str.split(" ", n = 1, expand = True)  
# making separate column from new data frame 
coor_df["zone09"]= new[0] 
coor_df["Latitude, Longitude"]= new[1]   
# Dropping oldcolumns 
coor_df.drop(columns =["zone09  Latitude        Longitude"], inplace = True) 
 
# df display 
coor_df

     zone09                    Latitude, Longitude
0         1        41.89457679280  -87.64530747770
1         2        41.89464672260  -87.64042628850
2         3        41.89471289300  -87.63551301540
3         4        41.89476770920  -87.63062889530
4         5        41.89483043620  -87.62579253650
5         6        41.89490040330  -87.62094432400
6         7        41.89306124730  -87.61034233020
7         8        41.89093504040  -87.64519056000
8         9        41.89099592080  -87.64030158560
9        10        41.89106347050  -87.63541996760
10       11        41.89111662500  -87.63053432640
11       12        41.89117729250  -87.62569002390
12       13        41.89124836740  -87.62083347310
13       14        41.88726335480  -87.64508089650
14       15        41.88732980260  -87.64020044920
15       16        41.88739907310  -87.63531466030
16       17        41.88745836270  -87.63043066950
17       18        41.88752935600  -87.62556377770
18       19        41.88784799860  -87.61722219390
19       20        41.88361500810  -87.64496980430
20       21        41.88368368460  -87.64008955400
21       22        41.88375022070  -87.63520672260
22       23        41.88380789590  -87.63032509130
23       24        41.88388080750  -87.62544399950
24       25        41.88419149880  -87.61875692660
25       26        41.87995256240  -87.64485046930
26       27        41.88001919640  -87.63997365930
27       28        41.88007580010  -87.63510521280
28       29        41.88013797130  -87.63023077520
29       30        41.88020509960  -87.62536066160
...     ...                                    ...
1914   1915        42.61338827360  -87.83261166380
1915   1916        42.58508175110  -87.89006037910
1916   1917        42.59097114820  -87.85066863500
1917   1918        42.59103701670  -87.82441789340
1918   1919        42.57352825800  -87.85036391340
1919   1920        42.57325140280  -87.82412268930
1920   1921        42.53705992620  -87.91965995000
1921   1922        42.52401708600  -87.87115155450
1922   1923        42.55869488210  -87.83388907060
1923   1924        42.54410732370  -87.83381296760
1924   1925        42.51360407190  -87.83125949900
1925   1926        42.71778564740  -88.25914846940
1926   1927        42.75692144390  -88.14740495400
1927   1928        42.75993049330  -87.98633554320
1928   1929        42.80948844930  -87.83582378810
1929   1930        42.76739670030  -87.87008144860
1930   1931        42.77354658500  -87.78960291510
1931   1932        42.74065695670  -87.82145964850
1932   1933        42.74085918020  -87.79373417380
1933   1934        42.72655598040  -87.87048367540
1934   1935        42.71504756850  -87.82116507860
1935   1936        42.71600251500  -87.79319317120
1936   1937        42.69040011370  -87.87517486830
1937   1938        42.68780523750  -87.81520991430
1938   1939        42.75535003970  -88.71922975430
1939   1940        42.71816688110  -88.57744745490
1940   1941        42.73995880210  -88.41527404100
1941   1942        42.58092955960  -88.70231262420
1942   1943        42.55479387230  -88.52997299200
1943   1944        42.55500882090  -88.36902950310

[1944 rows x 2 columns]

In [153]:
new = coor_df["Latitude, Longitude"].str.split(" ") 
new.replace(' ','')
new

0       [, , , , , , 41.89457679280, , -87.64530747770]
1       [, , , , , , 41.89464672260, , -87.64042628850]
2       [, , , , , , 41.89471289300, , -87.63551301540]
3       [, , , , , , 41.89476770920, , -87.63062889530]
4       [, , , , , , 41.89483043620, , -87.62579253650]
5       [, , , , , , 41.89490040330, , -87.62094432400]
6       [, , , , , , 41.89306124730, , -87.61034233020]
7       [, , , , , , 41.89093504040, , -87.64519056000]
8       [, , , , , , 41.89099592080, , -87.64030158560]
9         [, , , , , 41.89106347050, , -87.63541996760]
10        [, , , , , 41.89111662500, , -87.63053432640]
11        [, , , , , 41.89117729250, , -87.62569002390]
12        [, , , , , 41.89124836740, , -87.62083347310]
13        [, , , , , 41.88726335480, , -87.64508089650]
14        [, , , , , 41.88732980260, , -87.64020044920]
15        [, , , , , 41.88739907310, , -87.63531466030]
16        [, , , , , 41.88745836270, , -87.63043066950]
17        [, , , , , 41.88752935600, , -87.62556377770]
18        [, , , , , 41.88784799860, , -87.61722219390]
19        [, , , , , 41.88361500810, , -87.64496980430]
20        [, , , , , 41.88368368460, , -87.64008955400]
21        [, , , , , 41.88375022070, , -87.63520672260]
22        [, , , , , 41.88380789590, , -87.63032509130]
23        [, , , , , 41.88388080750, , -87.62544399950]
24        [, , , , , 41.88419149880, , -87.61875692660]
25        [, , , , , 41.87995256240, , -87.64485046930]
26        [, , , , , 41.88001919640, , -87.63997365930]
27        [, , , , , 41.88007580010, , -87.63510521280]
28        [, , , , , 41.88013797130, , -87.63023077520]
29        [, , , , , 41.88020509960, , -87.62536066160]
                             ...
1914          [, , , 42.61338827360, , -87.83261166380]
1915          [, , , 42.58508175110, , -87.89006037910]
1916          [, , , 42.59097114820, , -87.85066863500]
1917          [, , , 42.59103701670, , -87.82441789340]
1918          [, , , 42.57352825800, , -87.85036391340]
1919          [, , , 42.57325140280, , -87.82412268930]
1920          [, , , 42.53705992620, , -87.91965995000]
1921          [, , , 42.52401708600, , -87.87115155450]
1922          [, , , 42.55869488210, , -87.83388907060]
1923          [, , , 42.54410732370, , -87.83381296760]
1924          [, , , 42.51360407190, , -87.83125949900]
1925          [, , , 42.71778564740, , -88.25914846940]
1926          [, , , 42.75692144390, , -88.14740495400]
1927          [, , , 42.75993049330, , -87.98633554320]
1928          [, , , 42.80948844930, , -87.83582378810]
1929          [, , , 42.76739670030, , -87.87008144860]
1930          [, , , 42.77354658500, , -87.78960291510]
1931          [, , , 42.74065695670, , -87.82145964850]
1932          [, , , 42.74085918020, , -87.79373417380]
1933          [, , , 42.72655598040, , -87.87048367540]
1934          [, , , 42.71504756850, , -87.82116507860]
1935          [, , , 42.71600251500, , -87.79319317120]
1936          [, , , 42.69040011370, , -87.87517486830]
1937          [, , , 42.68780523750, , -87.81520991430]
1938          [, , , 42.75535003970, , -88.71922975430]
1939          [, , , 42.71816688110, , -88.57744745490]
1940          [, , , 42.73995880210, , -88.41527404100]
1941          [, , , 42.58092955960, , -88.70231262420]
1942          [, , , 42.55479387230, , -88.52997299200]
1943          [, , , 42.55500882090, , -88.36902950310]
Name: Latitude, Longitude, Length: 1944, dtype: object

In [147]:
c = coor_df.sort_values(by=['Latitude, Longitude'],ascending=True).reset_index(drop=True)

In [148]:
c

     zone09                    Latitude, Longitude
0         8        41.89093504040  -87.64519056000
1         9        41.89099592080  -87.64030158560
2         7        41.89306124730  -87.61034233020
3         1        41.89457679280  -87.64530747770
4         2        41.89464672260  -87.64042628850
5         3        41.89471289300  -87.63551301540
6         4        41.89476770920  -87.63062889530
7         5        41.89483043620  -87.62579253650
8         6        41.89490040330  -87.62094432400
9        85        41.84493259060  -87.67565423640
10       86        41.84517757910  -87.65617531310
11       87        41.84543665720  -87.63671408390
12       88        41.84553704410  -87.61795718140
13       72        41.85599153090  -87.66126825720
14       73        41.85614699160  -87.65151863140
15       74        41.85629124740  -87.64179857230
16       75        41.85642089680  -87.63211015080
17       76        41.85653041590  -87.62240530170
18       77        41.85659666090  -87.61201206670
19       84        41.85943424740  -87.67603735520
20       66        41.86325090620  -87.66142045260
21       67        41.86340257430  -87.65169195170
22       68        41.86354965440  -87.64197952700
23       69        41.86368473780  -87.63228640820
24       71        41.86373099130  -87.61280381850
25       70        41.86380609810  -87.62257763450
26       43        41.86888269030  -87.64448138220
27       44        41.86896274970  -87.63962539830
28       45        41.86903265200  -87.63480061950
29       46        41.86910107650  -87.62995010000
...     ...                                    ...
1914   1943        42.55479387230  -88.52997299200
1915   1944        42.55500882090  -88.36902950310
1916   1923        42.55869488210  -87.83388907060
1917   1920        42.57325140280  -87.82412268930
1918   1919        42.57352825800  -87.85036391340
1919   1942        42.58092955960  -88.70231262420
1920   1916        42.58508175110  -87.89006037910
1921   1911        42.58767948170  -88.12284662890
1922   1917        42.59097114820  -87.85066863500
1923   1918        42.59103701670  -87.82441789340
1924   1912        42.59285835360  -87.99019073300
1925   1915        42.61338827360  -87.83261166380
1926   1913        42.63439266020  -87.86040744060
1927   1914        42.64762924940  -87.82952578110
1928   1938        42.68780523750  -87.81520991430
1929   1937        42.69040011370  -87.87517486830
1930   1935        42.71504756850  -87.82116507860
1931   1936        42.71600251500  -87.79319317120
1932   1926        42.71778564740  -88.25914846940
1933   1940        42.71816688110  -88.57744745490
1934   1934        42.72655598040  -87.87048367540
1935   1941        42.73995880210  -88.41527404100
1936   1932        42.74065695670  -87.82145964850
1937   1933        42.74085918020  -87.79373417380
1938   1939        42.75535003970  -88.71922975430
1939   1927        42.75692144390  -88.14740495400
1940   1928        42.75993049330  -87.98633554320
1941   1930        42.76739670030  -87.87008144860
1942   1931        42.77354658500  -87.78960291510
1943   1929        42.80948844930  -87.83582378810

[1944 rows x 2 columns]

In [122]:
##calculate distance
from math import sin, cos, sqrt, atan2, radians

def distance(lat1, log1, lat2, log2):

# approximate radius of earth in km
    R = 6373.0

    lat1 = radians(float(lat1))
    lon1 = radians(float(log1))
    lat2 = radians(float(lat2))
    lon2 = radians(float(log2))

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    print("Result:", distance)
    print("Should be:", 278.546, "km")

In [126]:
c =np.array(c)
c
#print(c[0][1])
#distance(c[0][1],c[0][2],c[1][0],c[1][1])

array([['8', '', '     41.89093504040  -87.64519056000'],
       ['9', '', '     41.89099592080  -87.64030158560'],
       ['7', '', '     41.89306124730  -87.61034233020'],
       ...,
       ['1930', '', '  42.76739670030  -87.87008144860'],
       ['1931', '', '  42.77354658500  -87.78960291510'],
       ['1929', '', '  42.80948844930  -87.83582378810']], dtype=object)